/* sub02_portfolio_mx420.css */
/* sub02_portfolio.css */
body{
  overflow-y:visible ;

}
div.port{
  height: 300vh;
  overflow: hidden;
}
div.port>.top{
  display: block;
}

div.port>.top>article{
  width: 100%;
}
div.port>.top>article>.segment{}
div.port>.top>article:hover>.segment{}
div.port>.top>article:hover{}
div.port>.top>article:nth-of-type(1){}
div.port>.top>article:nth-of-type(2){}
div.port>.top>article:nth-of-type(3){}
div.port>.top>article:nth-of-type(3):hover{}
div.port>.top>article:hover{}
div.port>.top>article>.segment>button{}
div.port>.top>article>.segment>button:active{}
div.port>.top>article>.segment>button:nth-of-type(1){
  display: none;
}
div.port>.top>article>.segment>button:nth-of-type(2){}
div.port>.top>article>.segment>button:nth-of-type(2)::before{}
div.port>.top>article:hover>.segment>button:nth-of-type(2)::before{}

div.port>.top>article>.segment>h3{}
div.port>.top>article>.segment>h4{}
div.port>.top>article>.segment>h5{}
div.port>.top>article>.segment>h3>span{}
div.port>.top>article>.segment>p{}

div.port>.bt{
  display: none;

}
div.port>.bt>.overlay{
  display: none;
}
div.port>.bt>article{
  width: 100%;
  height: 100vh;
  position:relative;
  top: -300vh;
  opacity: 0;
  z-index: -1
}
div.port>.bt>.jeep{}
div.port>.bt>.aia{}
div.port>.bt>article>.segment{}
div.port>.bt>article h3{}
div.port>.bt>article h4{}
div.port>.bt>article p{}
div.port>.bt>article ul{}
div.port>.bt>article ul>li{}
